<div class="comment-box">
    <h5>
        <%= (image_tag display_avatar(comment.user), class: "ui avatar image") if comment.user and !comment.discarded? %>
        <%= "#{comment_name(comment)} | #{comment.created_at.strftime('%m-%d-%y, %H:%M %P')}" %>
        <%= "*" if (comment.created_at != comment.updated_at) and !comment.discarded? %>
    </h5>
    <p><%= simple_format comment_content(comment) %></p>
    <% unless comment.discarded? %>
        <div class="comment-links">
            <%= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], parent_id: comment) %> | 
            <% if comment.user == current_user %>
                <%= link_to "Edit", edit_post_comment_path(@commentable, comment)  %> | 
            <% end %>
            <% if (comment.user == current_user) or (@commentable.user == current_user) %>
                <%= link_to "Delete", post_comment_path(@commentable, comment), method: :delete %> |
            <% end %>
            <%= link_to "Like (#{comment.likes.count})", like_comment_path(comment), method: :post, title: like_list(comment) %>
        </div>
    <% end %>
</div>

<% unless params[:post_id] %>
    <%= nested_comments comment.children if comment.children? %>
<% end %>