<div class="ui vertically divided grid">
    <div class="two column row">
            <div class="column">
                <div class="item">
                    <h2>
                        <%= image_tag display_avatar(@user), class: "ui avatar image" %>
                        <%= "#{@user.first_name} #{@user.last_name}" %>
                    </h2>
                </div>
            </div>
            <div class="column"><%= render 'users/profile_button' %></div>
    </div>
</div>

<h3>About Me</h3>
<p><%= Faker::Lorem.paragraph %></p>

<h3>Interests</h3>
<p><%= Faker::Lorem.words(12).join(", ").capitalize %></p>

<h3>HP quote of the day:</h3>
<p><%= Faker::HarryPotter.quote %>
