<div class="profile-header">
    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1> 
    <% if current_user == @user %>
        <h6><%= link_to "Edit Profile", edit_user_registration_path(@user) %></h6>
    <% else %>
        <%= form_for(FriendRequest.new) do |f| %>
            <%= f.hidden_field :befriender_id, value: current_user.id %>
            <%= f.hidden_field :befriendee_id, value: @user.id %>
            <%= f.button "Send Friend Request", class: "mini ui button" %>
        <% end %>
    <% end %>
</div>

<h3>About Me</h3>
<p><%= Faker::Lorem.paragraph %></p>

<h3>Interests</h3>
<p><%= Faker::Lorem.words(12).join(", ").capitalize %></p>

<h3>HP quote of the day:</h3>
<p><%= Faker::HarryPotter.quote %>