<h1>Edit Post</h1>

<%= form_for [@user, @post], class: "ui form" do |f| %>
    <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %><br />
    </div>
    <br />
    <div class="field">
        <%= f.label "Write your post here:" %><br />
        <%= f.text_area :body, class: "large-text-box" %><br />
    </div>

    <%= f.submit "Submit Edit", class: "ui teal button" %>
<% end %>
