<% if current_user == User.find(params[:user_id]) %>
    <h1>Your Posts</h1>
    <p><%= link_to "New Post", new_user_post_path %><p>
<% else %>
    <h1><%= "#{User.find(params[:user_id]).first_name}'s Posts" %></h1>
<% end %>

<% @posts.each do |post| %>
    <div class="post-comment-container">
        <div class="post-container">
            <%= render 'post_heading', post: post %>
            <p><%= sanitize post.body.truncate(175, separator: ' ') %></p>
            <%= link_to "Read More", user_post_path(post.user, post), class: "italics-format" %>
        </div>
        
        <%= render 'layouts/like_comment_links', post: post %>
    </div><br />
<% end %>