<% if current_user == User.find(params[:user_id]) %>
    <h1>Your Posts</h1>
    <p><%= link_to "New Post", new_user_post_path %><p>
<% else %>
    <h1><%= "#{User.find(params[:user_id]).first_name}'s Posts" %></h1>
<% end %>

<% @posts.each do |post| %>
    <div class="post-comment-container">
        <div class="post-container">
            <h2><%= post.title %></h2>
            <% if current_user == post.user %>
                <p>
                    <%= link_to "Edit", edit_user_post_path(current_user, post) %> | <%= link_to "Delete", user_post_path(current_user, post), method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
            <% end %>
            <p class="italics-format">
                <%= "#{post.created_at.strftime("%I:%M %P, %b %d, %Y")}" %>
            </p>
            <p><%= post.body.truncate(175, separator: ' ') %></p>
            <%= link_to "Read More", user_post_path(post.user, post), class: "italics-format" %>
        </div>
        
        <div class="link-container">
            <div class="left-link"><%= link_to "Likes", '#' %></div>
            <div class="right-link"><%= link_to "Comments", '#' %></div>
        </div>
    </div><br />
<% end %>