<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui pointing menu">
      <h2 id="header-title">Odin FB of Sorts</h2>
      <div class="right menu">
        <%= link_to "Home", root_path, class: "item" %>
        <% if user_signed_in? %>
          <%= link_to "Inbox", conversations_path, class: "item" %>
          <%= link_to "Profile", profile_path(current_user), class: "item" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "item" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "item" %>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="ui two column relaxed grid">
        <div class="ui vertical menu">
          <%= link_to "Friends", '#', class: "item" %>
          <%= link_to "Posts", '#', class: "item" %>
          <%= link_to "Groups", '#', class: "item" %>
          <%= link_to "Arbitrary Link", '#', class: "item" %>
        </div>
        <div class="column">
          <% flash.each do |key, value| %>
            <%= value %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <% flash.each do |key, value| %>
        <%= value %>
      <% end %>
      <%= yield %>
    <% end %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
